/*---------------------------------------------------------
 * Age Check
---------------------------------------------------------*/
#av-overlay-wrap {
  background: rgba(114, 76, 33, 0.9) !important;
}
#av-overlay {
  background-color: #5b7132 !important;
  background-image: url(images/bg-texture-lines.png) !important;
  height: auto !important;
  width: 320px !important;
  font-family: 'lulo_cleanone', Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  padding: 1em !important;
  box-shadow: $box_shadow;
  h1 {
    @include font-size(20);
    text-shadow: $text_shadow_sm;
  }
  p {
    margin-bottom: 1em !important;
    text-shadow: $text_shadow_sm;
  }
  .submit {
    input {
      margin-top: 1em
    }
  }
  #av_verify_y {
    width: auto !important;
  }
}
#av_verify_form {
  input {
    color: #842b1c;
    background-color: $light_brown;
    outline: 0;
    border: none;
    font-family: 'lulo_cleanone_bold', Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: none;
    transition: $text_shadow_trans;
    &:hover {
      transition: $text_shadow_trans;
      text-shadow: 3px 3px 0 rgba(123,43,28,0.3);
    }
  }
}