/*---------------------------------------------------------
 * Age Check
---------------------------------------------------------*/
.popmake-overlay {
  background-color: rgba( 0, 0, 0, 0.9 );
}
.popmake-close {
  display: none;
}
.popmake-content {
  position: relative;
  background-color: #97ba46;
  padding: 1em 1em 3em;
  color: #f1f2f2;
  font-family: 'lulo_cleanone', Arial, "Helvetica Neue", Helvetica, sans-serif;
  small {
    @include font-size(10);
  }
  h2 {
    @include font-size(28);
    margin-bottom: 0;
  }
  .row {
    overflow: hidden;
    max-width: 535px;
    margin: 0 auto 0.5em;
    padding-left: 0;
    @include media-query(930px) {
      padding-left: 20px;
    }
    .age-btn {
      display: block;
      text-transform: uppercase;
      @include font-size(28);
      float: none;
      width: 100%;
      height: 72px;
      margin-bottom: 1em;
      text-align: center;
      text-decoration: none;
      padding: 19px;
      color: #333;
      font-weight: bold;
      font-family: tide_sans600_bunny,Arial,"Helvetica Neue",Helvetica,sans-serif;
      transform: skew(0deg);
      @include media-query(930px) {
        width: 220px;
        float: left;
        margin: 0;
        transform: skew(-24deg);
        .normal {
          transform: skew(24deg);
        }
      }
      
    }
    .age-btn__yes {
      background-color: #feca2e;
      margin-right: 0;
      @include media-query(768px) {
        margin-right: 1.5em;
      }
    }
    .age-btn__no {
      background-color: #f1f2f2;
    }
  }
  .age-btmbar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #6f101e;
    height: 2em;
    width: 100%;
  }
}