/*---------------------------------------------------------
 * Entries
---------------------------------------------------------*/
.page,
.single,
.error404 {
  main {
    background-color: #fff;
    overflow: hidden;
    padding: 1em 0;
    @include media-query(768px) {
      padding: 5em 0;
    }
  }
}
.home.page,
.page-template-template-contact {
  main {
    background-color: $dark_red;
    overflow: hidden;
    padding: 0;
  }
}
.page-template-template-contact {
  main {
    .content__wrapper {
      padding: 5em 0;
    }
  }
}
.entry__content {
  h2 {
    font-family: 'tide_sans600_bunny', Arial, "Helvetica Neue", Helvetica, sans-serif;
    @include font-size(30);
    margin: 0 0 26px;
    text-transform: uppercase;
    color: $light_green2;
    @include media-query(768px) {
      @include font-size(35);
    }
  }
  h3 {
    font-family: 'tide_sans400_lil_dude', Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $light_green2;
    @include font-size(23);
    margin: 0 0 18px;
    font-weight: normal;
    text-transform: uppercase;
    @include media-query(768px) {
      @include font-size(28);
    }
  }
  h4 {
    font-family: 'tide_sans300_lil_kahuna', Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $light_green2;
    @include font-size(23);
    margin: 0 0 16px;
    font-weight: normal;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 0.5em;
    a {
      color: darken( $color__font, 15% );
      &:hover {
        color: darken( $color__font, 25% );
      }
    }
  }
}
.default {
  .col__1-2 {
    float: none;
    width: 100%;
    margin: 0 0 2.5em;
    @include media-query(800px) {
      width: 50%;
      float: left;
      padding: 0 2.5em;
      margin: 0;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .entry__thumbnail {
    img {
      width: 544px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
.entry__image {
  padding-right: 0;
  margin-bottom: 2.5em;
  @include media-query(768px) {
    padding-right: 1em;
  }
  img {
    display: block;
    margin: 0 auto;
  }
}

.entry__thumbnail {
  margin: 0 auto;
  a {
    display: block;
  }
}
.entry__thumbnail--hover {
   position: relative;
   img {
    position:absolute;
    left:0;
  }
}
.entry__circle-lrg,
.entry__circle-sm,
.entry__rect {
  a {
    margin: 0 auto;
  }
}
.entry__circle-lrg,
.entry__circle-sm {
  img,
  a {
    border-radius: 100%;
  }
}
.entry__circle-lrg {
  a {
    width: 238px;
    height: 219px;
  }
}
.entry__circle-sm {
   a {
    width: 164px;
    height: 152px;
  }
}
.entry__rect {
  a,
  img {
    width: 376px;
    max-width: 100%;
    height: 158px;
    border-radius: 20px;
  }
}
.single {
  .entry__content {
    float: right !important;
    padding-left: 0;
    @include media-query(768px) {
      float: right;
      padding-left: 2em;
    }
  }
  .entry__image {
    padding-top: 3em;
    clear: both;
    @include media-query(768px) {
      padding-top: 0;
      clear: none;
    }
  }
  &.single-post {
    .entry__content {
      float: left !important;
      &.center {
        float: none !important;
        margin: 0 auto;
      }
    }
  }
}
.news__aside {
  padding-right: 0;
  @include media-query(768px) {
    padding: 4em;
  }
}
.news__aside-heading {
  text-transform: uppercase;
  color: $dark_red;
  text-align: center;
  margin: 0;
  @include font-size(20);
  letter-spacing: 2px;
}
.cust-border__top,
.cust-border__bottom {
  width: 100%;
  height: 8px;
  border-right: 4px solid $dark_red;
  border-left: 4px solid $dark_red;
}
.cust-border__top {
  margin-bottom: 0.5em;
  border-top: 4px solid $dark_red;
}
.cust-border__bottom {
  margin-top: 0.5em;
  border-bottom: 4px solid $dark_red;
}
.button_one {
  width: 100%;
  background-color: $light_green2;
  color: #842b1c;
  text-align: center;
  margin: 1em 0;
  a {
    display: block;
    text-decoration: none;
    color: #842b1c;
    padding: 13px;
  }
}