/*---------------------------------------------------------
 * Forms
---------------------------------------------------------*/
.contact-form {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    margin-bottom: 2em;
  }
  .gfield_label {
    font-family: 'lulo_cleanone_bold', Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    @include font-size(25);
    letter-spacing: 2px;
    padding-bottom: 1em;
  }
  .ginput_container {
    margin-top: 1em;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    @include font-size(18);
    padding: 0.7em 1em;
    border: 2px solid $yellow;
    background-color: lighten( $dark_red, 60% );
    transition: border-color 0.5s ease, background-color 0.5s ease;
    &:focus {
      outline: 0;
      border-color: $brown;
      background-color: #fff;
      transition: border-color 0.5s ease, background-color 0.5s ease;
    }
  }
  .gform_footer {
    text-align: center;
  }
  .gform_button {
    padding: 0.5em 1em;
    @include font-size(29);
    color: #842b1c;
    background-color: $yellow;
    outline: 0;
    border: none;
    font-family: 'lulo_cleanone_bold', Arial, "Helvetica Neue", Helvetica, sans-serif;
    @extend .link__hover--shadow;
  }
}