/*---------------------------------------------------------
 * Front Page Entries
---------------------------------------------------------*/
.entry__fp {
  margin-bottom: 3em;
  .entry__header,
  .event__date,
  .event__location {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0 0;
    @include font-size(20);
    a {
      color: #fff;
      @include font-size(20);
      text-decoration: none;
      display: block;
    }
  }
  .entry__header--small {
    margin: 0 auto;
    max-width: 238px;
  }
  .event__date,
  .event__location {
    padding: 0;
    @include font-size(20);
    color: #fff;
  }
  &.entry__small {
    max-width: 1150px;
    margin: 0 auto;
  }
}
.ales__mobile {
  .entry__circle-lrg {
    margin: 1.5em auto;
    top: 30px;
  }
}