/*---------------------------------------------------------
 * Front Page Entries
---------------------------------------------------------*/
.entry__circle-lrg,
.entry__circle-sm,
.entry__rect {
  margin-bottom: 3em;
  .entry__header,
  .event__date,
  .event__location {
    text-align: center;
    margin: 0 auto;
    padding: 1em 0 0;
    @include font-size(20);
    a {
      color: #fff;
      @include font-size(20);
      text-decoration: none;
      display: block;
      text-shadow: none;
      transition: text-shadow 0.5s ease-in-out;
      &:hover {
        transition: text-shadow 0.5s ease-in-out;
        text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
      }
    }
  }
  .event__date,
  .event__location {
    padding: 0;
    @include font-size(20);
    color: #fff;
  }
  .entry__thumbnail {
     margin: 0 auto;
  }
  .entry__thumbnail--hover {
    position: relative;
    img {
      position:absolute;
      left:0;
    }
  }
  img {
    border-radius: 100%;
    transition: opacity 0.5s ease-in-out;
    &:hover {
      transition: opacity 0.5s ease-in-out;
      &.hover__top {
        opacity: 0;
      }
    }
  }
  a {
    display: block;
    border-radius: 100%;
    box-shadow: none;
    transition: box-shadow 0.5s ease-in-out;
    &:hover {
      transition: box-shadow 0.5s ease-in-out;
      box-shadow: 8px 8px 0 0 rgba(0,0,0,0.1);
    }
  }
}
.entry__circle-lrg,
.entry__circle-sm {
  .entry__header {
    margin: 0 auto;
    max-width: 238px;
  }
  img,
  a {
    border-radius: 100%;
  }
}
.entry__circle-lrg {
  .entry__thumbnail,
  .entry__thumbnail a {
    width: 238px;
    height: 219px;
  }
}
.entry__circle-sm {
  max-width: 1150px;
  margin: 0 auto;
  .entry__thumbnail,
  .entry__thumbnail a {
    width: 164px;
    height: 152px;
  }
}
.entry__rect {
  .entry__thumbnail,
  .entry__thumbnail a {
    width: 376px;
    height: 158px;
  }
  img,
  a {
    border-radius: 20px;
  }
}
.ales__mobile {
  .entry__circle-lrg {
    margin: 1.5em 0;
    top: 30px;
  }
}