/*---------------------------------------------------------
 * Listings Entries
---------------------------------------------------------*/
.ales-page {
  background-color: #fff;
}
.entry.listing,
.entry.single {
  overflow: hidden;
  padding: 0 0 2.5em 0;
  @include media-query(768px) {
    padding: 2.5em 0;
  }
  .entry__thumbnail {
    padding: 0 0 2.5em 0;
    @include media-query(800px) {
      padding: 0 1em 0 0;
    }
    &.col__1-3 {
      float: none;
      width: 100%;
      @include media-query(800px) {
        width: 33.33%;
        float: left;
      }
    }
    &.rect {
      padding: 0 10px;
      margin-bottom: 1em;
      @include media-query(768px) {
        padding: 0 4em 0 0;
        margin-bottom: 0;
      }
      img,
      a {
        border-radius: 20px;
      }
    }
  }
  .entry__content {
    float: left;
    &.col__2-3 {
      float: none;
      width: 100%;
      @include media-query(800px) {
        width: 66.66%;
        float: left;
      }
    }
  }
  .entry__heading {
    @include font-size(35);
    margin: 0;
    text-transform: uppercase;
    color: $light_green2;
    @include media-query(800px) {
      text-align: left;
    }
    a {
      color: $light_green2;
      text-decoration: none;
    }
  }
  .entry_subtitle {
    color: $light_green2;
    @include font-size(28);
    margin: 0 0 25px;
    font-weight: normal;
    text-transform: uppercase;
    @include media-query(800px) {
      text-align: left;
    }
    &.tidesans__300 {
      @include font-size(23);
      margin: 0 0 20px;
    }
  }
  p {
    @include font-size(18);
  }
  .entry__ellipsis {
    color: $light_green2;
    text-decoration: none;
    letter-spacing: 2px;
  }
}