/*---------------------------------------------------------
 * Menu
---------------------------------------------------------*/
.primary-nav {
  position: relative;
  right: 0px;
  top: 18px;
  @extend .lulocleanone__bold;
  @include font-size(13);
  background-color: $light_green2;
  box-shadow: 0 10px 0 0 rgba(0,0,0,0.1);
  padding: 1em 0;
  margin-bottom: 14px;
  z-index: 100;
  @include media-query(835px) {
    background-color: transparent;
    box-shadow: none;
    padding-bottom: 0;
    margin-bottom: 0;
    position: absolute;
    padding-top: 0;
    @include font-size(15);
    top: 18px;
  }
}
.footer-nav {
  margin-top: 1em;
  @extend .tidesans__400;
  letter-spacing: 2px;
  @include media-query(768px) {
    margin-top: 3em;
  }
}
.sm {
  display: block;
  margin: 0;
  padding: 0;
  line-height: normal;
  list-style-type: none;
  text-align: center;
  &.horizontal {
    &.right {
      @include media-query(835px) {
        @include hor-list-pos(right);
      }
    }
    li {
      vertical-align: top;
    }
  }
  li {
    position: relative;
    display: inline-block;
    float: none;
  }
  a {
    position: relative;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: $dark_red;
    padding: 1em 0.25em;
    @extend .link__hover--shadow-small;
    @include media-query(835px) {
      padding: 0.5em 1em;
    }
  }
}