/*---------------------------------------------------------
 * Text
---------------------------------------------------------*/
em,
i {
  font-family: "tide_sans400_lil_dude_italic", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p {
  line-height: 1.5em;
  padding: 0;
  margin: 0 0 1.5em;
}